<ion-header>
  <ion-toolbar>
    <ion-title>plan_details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-card class="welcome-card" style="height: 1%">
      <ion-card-header color="tertiary">
        <ion-card-title>TCS Contact</ion-card-title>
      </ion-card-header>

      <ion-card-content>
          <div>
              <table id="tblOne" style="width:50%; float:left">
                <tr>
                  <td>Name</td>
                </tr>
                <tr>
                    <td>TCS Name</td>
                  </tr>
              </table>
              <table id="tblTwo" style="width:50%; float:left">
                <tr>
                  <td>NRIC</td>
                </tr>
                <tr>
                    <td>TCS Contact</td>
                  </tr>
              </table> 
              </div>
      </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>