ion-card-title{
    text-align: left;
    font-size: 99%;

}
ion-radio-group {
    LINE-HEIGHT:20px;
    font-size: 95%;
}
h6{
    float: right;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left:auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
ion-input {
    width: 250px;
  background-image: linear-gradient(to right, #000, #000);
  background-position: 5px calc(75% - 5px);
  background-size: calc(50% - 10px) 2px;
  background-repeat: no-repeat;
  background-color: #fcfcfc;
  border: 1%;
  padding: 10px;
}