ion-card-title{
    text-align: left;
    font-size: 99%;

}
ion-radio-group {
    LINE-HEIGHT:20px;
    font-size: 95%;
}
ion-title {
    text-align: center;
}
h6{
    float: right;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left:auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
ion-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #D3D3D3;
}
button {
    float: center;
}
