<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      New Crisis Plan
    </ion-title>
    
    <ion-buttons (click)="nextPage()" slot="end"><ion-button><ion-icon name="arrow-forward" ></ion-icon></ion-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--CARD-->
  <ion-list lines="none">
    <ion-card class="welcome-card" style="height: 1%">
      <ion-card-header color="tertiary">
        <ion-card-title>Select Language</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-radio-group [(ngModel)]="defaultLanguage" (ionChange)="selectRadio()">
            <ion-item *ngFor="let thisLanguage of globalLanguage; let i = index" [lines]="i == 3 ? 'none' : 'full'" [ngStyle]="thisLanguage[0] == defaultLanguage && {'font-weight': 'bold'}" button>
              <ion-label>{{thisLanguage[1]}}</ion-label>
              <ion-radio [value]="thisLanguage[0]" color="originalPrimary" mode="md"></ion-radio>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-card-content>
      <!---ABOVE ARE OPTIONS-->
    </ion-card>
    <!--PLAN NAME-->
    <ion-card class="welcome-card">
      <ion-card-header color="tertiary">
        <ion-card-title>Crisis Plan Name</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!---CONTENT-->
        <ion-input type="text" [(ngModel)]="planName"></ion-input>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>