ion-card-title{
    text-align: left;
    font-size: 99%;

}
ion-radio-group {
    LINE-HEIGHT:20px;
    font-size: 95%;
}
ion-title {
    text-align: center;
}
h6{
    float: right;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left:auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
ion-input {
    width: auto;
    background: linear-gradient(to right, #000, #000) 5px calc(100% - 5px)/calc(100% - 10px) 2px no-repeat;
    background-color: #fcfcfc;
    padding: 10px;  
}
button {
    float: center;
}
