<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        PDF
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{details.planName}}
    </ion-title>
    <ion-buttons slot="end" (click)="editPage(details.id)">
      <ion-button>
        {{btn_txt}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--ADD LONG PRESS https://forum.ionicframework.com/t/how-to-select-multiple-item-on-long-press/67456/2 -->
<ion-content>
  <ion-list lines="none">
    <ion-card class="welcome-card">
      <ion-card-header color="tertiary">
        <ion-card-title>Plan Details</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div>
          <table id="tblOne" style="width:50%; float:left">
            <tr>
              <td>Name:</td>
              <ion-input [(ngModel)]="details.name" disabled="{{isDisabled}}"></ion-input>
            </tr>
            <p></p>
            <tr>
              <td>TCS Name:</td>
              <ion-input [(ngModel)]="details.cname" disabled="{{isDisabled}}"></ion-input>
            </tr>
          </table>
          <table id="tblTwo" style="width:50%; float:left">
            <tr>
              <td>NRIC:</td>
              <ion-input [(ngModel)]="details.nric" disabled="{{isDisabled}}"></ion-input>
            </tr>
            <tr>
              <td>TCS Contact:</td>
              <ion-input [(ngModel)]="details.ccontact" disabled="{{isDisabled}}"></ion-input>
              <!-- <ion-input type="text">{{details.ccontact}}</ion-input> -->
            </tr>
          </table>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>


  <!-- Test my data yong rui -->
  <style>
    .imgCircle {
      float: left;
      border-radius: 50%;
      width: 50%;
      height: 100%;
      padding: 4%;
      /* background-color:#000000 !important; */
      /* border: 1px solid black;  */
    }

    .imgCircleText {
      /* height:100%; */
      /* margin:16px; */
      white-space: normal;
      text-align: left;
      margin-top: 12%;
      /*FIXME: https://ionicframework.com/docs/v3/theming/css-utilities/ */
    }

    /* 
ion-content{
  --ion-background-color:grey;
} */

    ion-card {
      border-radius: 16px;
      background-color: white;
      color: black;
      /* text */
    }

    ion-grid {
      background-color: #d3d3d3;
    }

    .btnAdd {
      margin-top: 18px !important;
    }

    .blur {
      filter: blur(15px);
      -webkit-filter: blur(15px);
      opacity: 1;
      background-color: #FFF;
      transition: -webkit-filter 200ms linear;
      height: 100%;
      width: 100%;
      position: absolute;
    }

    .blurTitle {

      filter: blur(15px);
      -webkit-filter: blur(15px);
      /* transition: -webkit-filter 200ms linear; */
    }

    /* .highlight{
  background-color: #1ebea5;
} */

    ion-content {
      --padding-start: 4px;
      --padding-end: 4px;
    }

    /* ion-grid{
  width: 100vw;
  margin-left: calc(-50vw + 50%);
} */
    .gridReplace {
      background-color: #d3d3d3;
      padding-top: 6%;
      padding-bottom: 3%;
    }

    ion-card-title {
      color: white;
      font-weight: bold;
      font-size: 1.1em;
      padding: 0;
      margin: 0 4px;
    }

    ion-textarea {
      margin: 0;
    }

    .yellowItem {
      --border-width: 0px;
      --inner-padding-end: 0;
      --padding-start: 0;
    }
  </style>

  <!-- Test my data yong rui -->
  <ion-card *ngFor="let globalItem of frontViewData">
    <ion-card-header [color]="globalItem.colorCard">
      <ion-card-title>
        {{globalItem.textCard}}
      </ion-card-title>
    </ion-card-header>

    <!-- view page when click on one template... show icon and text only -->
    <!-- <ion-grid style="padding:3%; background-color: #FFF" *ngIf="viewPage && !editPage"> -->
    <ion-grid style="padding:3%; background-color: #FFF">

      <ion-row *ngFor="let item of getArray(globalItem.id)">

        <ion-col size="6">
          <img class="imgCircle" [src]="item.symptom.img" />
          <p class="imgCircleText"> {{item.symptom.description == "" ? item.symptom.text : item.symptom.description}}
          </p>
        </ion-col>

        <ion-col size="6" *ngIf="item.combined.length == 0" style="border-left: 2.5px solid #d3d3d3"></ion-col>

        <ng-container *ngFor="let x of item.combined; let actIndex = index;">
          <ion-col size="6" *ngIf="actIndex != 0"></ion-col>
          <ion-col size="6" style="border-left: 2.5px solid #d3d3d3">
            <img class="imgCircle" [src]="x.img" />
            <p class="imgCircleText"> {{x.description == "" ? x.text : x.description}} </p>
          </ion-col>
        </ng-container>

      </ion-row>

      <ion-row style="height:45px;" [ngClass]="{'blur': globalItem.toggle}" *ngIf="!checkType(globalItem.id)">
        <p text-center style="width:100%"> No symptoms and actions added </p>
      </ion-row>

    </ion-grid>

  </ion-card>
  <ion-list lines="none">
    <ion-card class="welcome-card">
      <ion-card-header color="tertiary">
        <ion-card-title>
          <ion-buttons style="float:right;">
            <ion-icon name="trash" (onClick)="deleteAppoint()"></ion-icon>
          </ion-buttons>Appointment (Optional)
        </ion-card-title>

      </ion-card-header>

      <ion-card-content>
        <div>
          <table id="tblOne" style="width:40%; float:left;position:inherit">
            <tr>
              <td>Clinic Name:</td>
              <p></p>
              <ion-input style="width: 200%" disabled="{{isDisabled}}" [(ngModel)]="details.clinicName"></ion-input>
            </tr>
          </table>
          <table id="tblTwo" style="width:60%; float:left">
              <tr>
                <td>Date:</td>
                <p></p>
                <ion-input style="width: 250%" disabled="{{isDisabled}}" [(ngModel)]="details.datemy"></ion-input>
              </tr>
            </table>
                 </div>
      </ion-card-content>
    </ion-card>
  </ion-list>


</ion-content>
