<ion-header>
  <ion-toolbar color="primary" *ngIf="checked.length == 0">
    <ion-buttons slot="start">
      <ion-button (click)="backViewPlan()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{details.planName}}
    </ion-title>
    <ion-buttons slot="end" (click)="editPage(details.id)">
      <ion-button>
        {{isDisabled ? 'Edit' : 'Save'}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="greenCard" *ngIf="checked.length > 0">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (tap)="clearArray()"></ion-back-button>
      <span> {{checked.length}} </span>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="trash" style="font-size: 24px; margin-right:14px;" (tap)="deleteArray()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<!--ADD LONG PRESS https://forum.ionicframework.com/t/how-to-select-multiple-item-on-long-press/67456/2 -->
<ion-content>

  <ion-card class="welcome-card">
    <ion-card-header color="tertiary">
      <ion-card-title>Plan Details</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        <table id="tblOne" style="width:50%; float:left">
          <tr>
            <td>Name:</td>
            <ion-input [(ngModel)]="details.name" disabled="{{isDisabled}}"></ion-input>
          </tr>
          <p></p>
          <tr>
            <td>TCS Name:</td>
            <ion-input [(ngModel)]="details.cname" disabled="{{isDisabled}}"></ion-input>
          </tr>
        </table>
        <table id="tblTwo" style="width:50%; float:left">
          <tr>
            <td>NRIC:</td>
            <ion-input [(ngModel)]="details.nric" disabled="{{isDisabled}}"></ion-input>
          </tr>
          <tr>
            <td>TCS Contact:</td>
            <ion-input [(ngModel)]="details.ccontact" disabled="{{isDisabled}}"></ion-input>
            <!-- <ion-input type="text">{{details.ccontact}}</ion-input> -->
          </tr>
        </table>
      </div>
    </ion-card-content>
  </ion-card>



  <!-- Test my data yong rui -->
  <style>
    .imgCircle {
      float: left;
      border-radius: 50%;
      width: 50%;
      height: 100%;
      padding: 4%;
      /* background-color:#000000 !important; */
      /* border: 1px solid black;  */
    }

    .imgCircleText {
      /* height:100%; */
      /* margin:16px; */
      white-space: normal;
      text-align: left;
      margin-top: 12%;
      /*FIXME: https://ionicframework.com/docs/v3/theming/css-utilities/ */
    }

    /* 
ion-content{
  --ion-background-color:grey;
} */

    ion-card {
      border-radius: 16px;
      background-color: white;
      color: black;
      /* text */
      margin-top: 6%;
    }

    ion-grid {
      background-color: #d3d3d3;
    }

    .btnAdd {
      margin-top: 18px !important;
    }

    .blur {
      filter: blur(15px);
      -webkit-filter: blur(15px);
      opacity: 1;
      background-color: #FFF;
      transition: -webkit-filter 200ms linear;
      height: 100%;
      width: 100%;
      position: absolute;
    }

    .blurTitle {

      filter: blur(15px);
      -webkit-filter: blur(15px);
      /* transition: -webkit-filter 200ms linear; */
    }

    /* .highlight{
  background-color: #1ebea5;
} */

    ion-content {
      --padding-start: 4px;
      --padding-end: 4px;
    }

    /* ion-grid{
  width: 100vw;
  margin-left: calc(-50vw + 50%);
} */
    .gridReplace {
      background-color: #d3d3d3;
      padding-top: 6%;
      padding-bottom: 3%;
    }

    ion-card-title {
      color: white;
      font-weight: bold;
      font-size: 1.1em;
      padding: 0;
      margin: 0 4px;
    }

    ion-textarea {
      margin: 0;
    }

    .yellowItem {
      --border-width: 0px;
      --inner-padding-end: 0;
      --padding-start: 0;
    }

    .gridReplace {
      background-color: #d3d3d3;
      padding-top: 6%;
      padding-bottom: 3%;
    }
  </style>

  <!-- Test my data yong rui -->
  <ion-card *ngFor="let globalItem of frontViewData;">
    <ion-card-header [color]="globalItem.colorCard">
      <ion-card-title>
        {{globalItem.textCard}}
      </ion-card-title>

      <ion-content>
        <ion-fab vertical="top" horizontal="end" edge slot="fixed" *ngIf="!isDisabled">
          <!-- <ion-fab-button size="small" (click)="addNewCriticalArray('Critical')" class="btnAdd" color="redCard"> -->
          <ion-fab-button size="small" class="btnAdd" (click)="globalItem.toggle=!globalItem.toggle"
            [disabled]="checked.length > 0">
            <ion-icon name="{{!globalItem.toggle ? 'md-add' : 'md-close'}}"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>

    </ion-card-header>

    <!-- view page when click on one template... show icon and text only -->
    <!-- <ion-grid style="padding:3%; background-color: #FFF" *ngIf="viewPage && !editPage"> -->
    <ion-grid style="padding:3%; background-color: #FFF" *ngIf="isDisabled">
      <ion-row *ngFor="let item of getArray(globalItem.id)">

        <ion-col size="6">
          <img class="imgCircle" [src]="item.symptom.img" />
          <p class="imgCircleText"> {{item.symptom.description == "" ? item.symptom.text : item.symptom.description}}
          </p>
        </ion-col>

        <ion-col size="6" *ngIf="item.combined.length == 0" style="border-left: 2.5px solid #d3d3d3"></ion-col>

        <ng-container *ngFor="let x of item.combined; let actIndex = index;">
          <ion-col size="6" *ngIf="actIndex != 0"></ion-col>
          <ion-col size="6" style="border-left: 2.5px solid #d3d3d3">
            <img class="imgCircle" [src]="x.img" />
            <p class="imgCircleText"> {{x.description == "" ? x.text : x.description}} </p>
          </ion-col>
        </ng-container>

      </ion-row>

      <ion-row style="height:45px;" [ngClass]="{'blur': globalItem.toggle}" *ngIf="!checkType(globalItem.id)">
        <p text-center style="width:100%"> No symptoms and actions added </p>
      </ion-row>

    </ion-grid>


    <div class="gridReplace" *ngIf="!isDisabled">

      <ion-row *ngFor="let item of getArray(globalItem.id); let i = index;" style="border-bottom: 2px solid #A9A9A9"
        [ngClass]="{'blur': globalItem.toggle}">

        <!-- first column aka symptom -->
        <ion-col [size]="checked.length > 0 ? 5.25 : 6"
          [ngClass]="{'highlight': item.combined[0]?.whatsapp && checked.length > 0}"
          (press)="pressEvent('Symptom', item, globalItem.id);" (swipe)="pressEvent('Symptom', item, globalItem.id);"
          (click)="checked.length > 0 && clickEvent('Symptom', item, globalItem.id)">
          <ion-card (click)="checked.length == 0 && presentActionSheet('Symptom', item, globalItem.id)"
            [ngClass]="{'highlight' : item.combined[0]?.whatsapp && checked.length > 0}">
            <img class="imgCircle" [src]="item.symptom.img" />
            <!-- https://stackoverflow.com/questions/45263542/ngmodel-value-in-img-src-ionic-3 -->
            <p class="imgCircleText"> {{item.symptom.text}} </p>
          </ion-card>
          <ion-card>
            <ion-item no-padding class="yellowItem">
              <ion-textarea rows="4" placeholder="Describe the symptom in more details."
                [readonly]="item.combined[0]?.whatsapp" [(ngModel)]="item.symptom.description"
                [ngClass]="{'highlight': item.combined[0]?.whatsapp && checked.length > 0}"></ion-textarea>
            </ion-item>
          </ion-card>
        </ion-col>

        <!-- for each second column aka action -->
        <ng-container *ngFor="let x of item.combined; let actIndex = index;">

          <ion-col [size]="checked.length > 0 ? 5.25 : 6" [ngClass]="{'highlight': x.whatsapp && checked.length > 0}"
            (press)="pressEvent('Action', x, globalItem.id)" (swipe)="pressEvent('Action', x, globalItem.id)"
            (click)="checked.length > 0 && clickEvent('Action', x, globalItem.id)" *ngIf="actIndex != 0"></ion-col>

          <ion-col [size]="checked.length > 0 ? 5.25 : 6" [ngClass]="{'highlight': x.whatsapp && checked.length > 0}"
            (press)="actIndex == 0 ? pressEvent('Symptom', item, globalItem.id) : pressEvent('Action', x, globalItem.id);"
            (swipe)="actIndex == 0 ? pressEvent('Symptom', item, globalItem.id) : pressEvent('Action', x, globalItem.id);"
            (click)="checked.length > 0 && clickEvent('Action', x, globalItem.id)">

            <ion-card (click)="checked.length == 0 && presentActionSheet('Action', x)"
              [ngClass]="{'highlight': x.whatsapp && checked.length > 0}">
              <img class="imgCircle" [src]="x.img" />
              <p class="imgCircleText"> {{x.text}}</p>
            </ion-card>

            <ion-card>
              <ion-item no-padding class="yellowItem">
                <ion-textarea rows="4" placeholder="Describe the required action in your own words."
                  [readonly]="x.whatsapp" [(ngModel)]="x.description"
                  [ngClass]="{'highlight': x.whatsapp && checked.length > 0}"></ion-textarea>
              </ion-item>
            </ion-card>

          </ion-col>

          <ion-col size="1.5" *ngIf="checked.length > 0" [ngClass]="{'highlight': x.whatsapp}"
            (click)="clickEvent('Action', x, globalItem.id)">
            <ion-checkbox [checked]="x.whatsapp" mode="ios" color="success"></ion-checkbox>
          </ion-col>

        </ng-container>

      </ion-row>

      <ion-row style="height:150px;" [ngClass]="{'blur': globalItem.toggle}" *ngIf="!checkType(globalItem.id)">
      </ion-row>


      <ng-container *ngIf="globalItem.toggle">
        <!--https://stackoverflow.com/questions/28975673/how-to-blurcss-div-without-blur-child-element/29249483-->
        <ion-row (click)="globalItem.toggle=!globalItem.toggle; addNewCriticalArray(globalItem.type, globalItem.id)">
          <ion-col size="4">
            <ion-fab-button [color]="globalItem.colorBtn" style="float:right">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-col>
          <ion-col size="8">
            <ion-label class="addLabel"> Add symptom</ion-label>
            <br>
            <ion-label class="addLabelTwo"> and action </ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="checkType(globalItem.id)" (click)="globalItem.toggle=!globalItem.toggle; popUp(globalItem.id);">
          <ion-col size="4">
            <ion-fab-button [color]="globalItem.colorBtn" style="float:right">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-col>
          <ion-col size="8">
            <ion-label class="addLabel"> Add action</ion-label>
          </ion-col>
        </ion-row>
      </ng-container>

    </div>

  </ion-card>



  <ion-card class="welcome-card" style="margin-bottom: 6%">
    <ion-card-header color="tertiary">
      <ion-card-title>
        <ion-buttons style="float:right;">
          <ion-icon name="trash" (onClick)="deleteAppoint()"></ion-icon>
        </ion-buttons>Appointment (Optional)
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <div>
        <!-- <table id="tblOne" style="width:40%; float:left;position:inherit">
            <tr>
              <td>Clinic Name:</td>
              <p></p>
              <ion-input style="width: 200%" disabled="{{isDisabled}}" [(ngModel)]="details.clinicName"></ion-input>
            </tr>
          </table>
          <table id="tblTwo" style="width:60%; float:left">
              <tr>
                <td>Date:</td>
                <p></p>
                <ion-input style="width: 250%" disabled="{{isDisabled}}" [(ngModel)]="details.datemy"></ion-input>
                <!-- <ion-datetime placeholder="day/month/year hour:min" #mypicker (ionChange)="dateChanged(mypicker.value)"
                display-format="DD/MMM/YY h:mm A"  min="2017" max="2022"></ion-datetime> -->
        <!-- </tr> -->
        <!-- </table> -->

        <table id="tblOne" style="width:50%; float:left">
          <tr>
            <td>Clinic Name:</td>
            <p></p>
            <ion-input style="width: 250%" [disabled]="isDisabled" [(ngModel)]="details.clinicName"></ion-input>
          </tr>
        </table>
        <ion-item lines="full">
          <ion-label>Date:</ion-label>
          <ion-datetime placeholder="day/month/year hour:min" #mypicker (ionChange)="dateChanged(mypicker.value)"
            display-format="DD/MMM/YY h:mm A" [(ngModel)]="details.datemy" min="2017" max="2022"
            [disabled]="isDisabled"></ion-datetime>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>



</ion-content>