<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>


    <ion-title>
      <!--创建病情那页的title名称-->{{text1}}
    </ion-title>

  </ion-toolbar>


</ion-header>
<ion-content>
  
    
 

    <form name="f" class="aaa">
      
    <input class="abc" type="radio" name="btext" value="0" checked="true" (click)="insert1(0)">English 
    <br>
    <br>
    <br>
    <input class="abc" type="radio" name="btext" value="1" (click)="insert1(1)" >中文
    <br>
    <br>
    <br>
    <input class="abc" type="radio" name="btext" value="2" (click)="insert1(2)">Malay
    <br>
    <br>
    <br>
    <input class="abc" type="radio" name="btext" value="3" (click)="insert1(3)">Tamil
    <br>
    <br>
    <br>
    <input class="cba" type=button value=determine name=insert (click)="determine()" style='background-color: #EBF5FC; border: 1px solid #0099CC'>
    </form>
   
    
</ion-content>

