<ion-header>
  <ion-toolbar [color]="checked.length > 0 ? 'greenCard' : 'primary'">
    <ion-title>
      Content
    </ion-title>
    <!-- <ion-button slot="start" href="/tabs/tab1" routerDirection="back">Back</ion-button> -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings/symptomAction" (click)="clearArray()"></ion-back-button>
      <span *ngIf="checked.length > 0"> {{checked.length}} </span>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="checked.length > 0" (click)="deleteSelected()">
        <ion-icon name="trash" style="font-size: 24px; margin-right:18px;"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="checked.length == 0">
      <ion-button (click)="goToAddPage()">
        New
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<style>
  .list-md {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  img {
    border-radius: 50%;
  }
</style>
<ion-content>
  <ion-grid style="border-bottom: 1px solid green">
    <ion-row> 
      <!-- 0000cd -->
      <ion-col text-center (click)="goToType('Symptom')" style="font-weight:bold;"
        [ngStyle]="{'color': (selectedTab == 'Symptom') ? '#0000cd' : '#C0C0C0'}">
        Symptom
      </ion-col>

      <ion-col text-center (click)="goToType('Action')" style="font-weight:bold;"
        [ngStyle]="{'color': (selectedTab == 'Action') ? '#0000cd' : '#C0C0C0'}">
        Action
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-list *ngIf="selectedTab == 'Symptom'" lines="full">
    <ion-item *ngFor="let item of symptomList" (tap)="selectedSymptom(item.id)" (press)="pressEvent(item)" [color]="item.checked && 'lightBlue'">
      <ion-thumbnail slot="start">
        <img [src]="item.icon"/>
      </ion-thumbnail>
      {{item.enName}}
      <ion-checkbox mode="ios" slot="end" *ngIf="checked.length > 0" [(ngModel)]="item.checked" (ionChange)="check(item)" color="success"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="selectedTab == 'Action'" lines="full">
    <ion-item *ngFor="let item of actionList" (tap)="selectedSymptom(item.id)" (press)="pressEvent(item)" [color]="item.checked && 'lightBlue'">
      <ion-thumbnail slot="start">
        <img [src]="item.icon"/>
      </ion-thumbnail>
      {{item.enName}}
      <ion-checkbox mode="ios" slot="end" *ngIf="checked.length > 0" [(ngModel)]="item.checked" (ionChange)="check(item)" color="success"></ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- fab placed to the top end -->
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAddPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
  -->
  
</ion-content>