<ion-header>
  <ion-toolbar [color]="checked.length > 0 ? 'greenCard' : 'primary'">
    <ion-title>
      Content
    </ion-title>
    <!-- <ion-button slot="start" href="/tabs/tab1" routerDirection="back">Back</ion-button> -->
    <ion-buttons slot="start">
      <ion-back-button *ngIf="checked.length > 0" defaultHref="/tabs/settings/symptomAction" (tap)="clearArray()"></ion-back-button>
      <span *ngIf="checked.length > 0"> {{checked.length}} </span>
      <ion-back-button *ngIf="checked.length == 0" defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="checked.length > 0" (tap)="deleteSelected()">
        <ion-icon name="trash" style="font-size: 24px; margin-right:18px;"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="checked.length == 0">
      <ion-button (click)="goToAddPage()"> New </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<style>
  .list-md {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  img {
    border-radius: 50%;
  }

  /* ion-segment {
    margin-bottom: 12px;
  } */
</style>

<ion-content>
  <!-- Segment with default selection -->
  <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="selectedTab" value="Symptom" color="originalPrimary">
    <ion-segment-button value="Symptom">
      <ion-label>Symptom</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Action">
      <ion-label>Action</ion-label>
    </ion-segment-button>
  </ion-segment>


  <ion-list lines="full" #mylist>

    <ion-item-sliding *ngFor="let item of selectedTab == 'Symptom' ? symptomList : actionList" (ionSwipe)="deleteIOS(item)">
      <ion-item (tap)="selectedSymptom(item.id)" (press)="pressEvent(item)" [color]="item.checked && 'lightBlue'" button>
        <ion-thumbnail slot="start">
          <img [src]="item.icon"/>
        </ion-thumbnail>
        {{item.enName}}
        <ion-checkbox mode="ios" slot="end" *ngIf="checked.length > 0" [(ngModel)]="item.checked" (ionChange)="check(item)" color="success"></ion-checkbox>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>

      <ion-item-options side="end"> 
        <ion-item-option color="danger" expandable (click)="deleteIOS(item)">
          <ion-icon name="trash" slot="top" style="zoom:2.0"></ion-icon> Delete
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option color="danger" expandable (click)="deleteIOS(item)">
          <ion-icon name="trash" slot="top" style="zoom:2.0"></ion-icon> Delete
        </ion-item-option>
      </ion-item-options>
      
    </ion-item-sliding>
  </ion-list>
  
</ion-content>