<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 no-margin text-center padding-top style="font-weight: bold; font-size: 6vw;"> Crisis Management App </h1>

  <div text-center style="padding-top: 9px;">
    <img style="max-width: 30%" src="assets/appIcon.png" />
  </div>

  <div>
    <h4 style="color: #2e75b6; margin-bottom:0px; font-size: 6vw;" text-center> Brought to you by </h4>

    <div text-center>
      <img style="max-width: 75%" src="assets/TTSH.png" />
    </div>

    <div text-center style="margin-bottom: 24px;">
      <img style="max-width: 75%" src="assets/NYP.jpg" />
    </div>
  </div>

  <div text-center> <!-- if wan to stick to the bottom of the screen use https://stackoverflow.com/a/47481244 -->
    <h4 style="color: #2e75b6; font-size: 6vw;"> For feedback and support, email to </h4>
    <h4 no-margin style="font-weight: bold; font-size: 6vw;"> citi_support@nyp.edu.sg </h4>
  </div>

</ion-content>