<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<style>
  #noTemplateDiv {
    margin: 24px;
    padding: 12px;
    border: 1px solid green;
    font-size: 18px;
  }
</style>
<ion-content>

  <div id="noTemplateDiv">
      Crisis Management App 
      features
      
      ​​To reduce the time for hospital staff to deliver Crisis Plans to patients, one solution is to transfer the task of creating the Crisis Plan to the patients themselves. The Crisis Plan app aims to be a platform where patients can easily create their own customized Crisis Plans in a few simple steps. It will feature the Crisis Plan template in an interactive manner and patients can input the advisory’s information given to them by nurses, who will guide them on how to use the app.
      To prevent the loss of patients’ Crisis Plans, the app will feature an export to PDF function, in addition to displaying the Crisis Plan in the app. This allows patients to have both a digital and physical copy of their Crisis Plans upon printing their PDF file.
      
      In addition to these main features, the app will also provide an appointment-scheduling feature in which patients can schedule and be reminded of their medical appointments, and support features like preferred language support in the 4 main languages of Singapore. This allows the app to be more useful and user-friendly.  
      
       
  </div>

</ion-content>
