<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings/symptomAction"></ion-back-button>
    </ion-buttons>
    <ion-title style="position:inherit;">
      {{contentDetails.enName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save(thisForm.value)"> {{editID == 'add' ? 'Add' : 'Save'}} </ion-button>
      <!-- <ion-label padding="true" (click)="save(thisForm.value)"> {{editID == 'add' ? 'Add' : 'Save'}} </ion-label> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<style>
  .imgCircle {
    border-radius: 50%;
    height: 33%;
    margin: 0 auto;
    margin-top: 6%;
  }
</style>

<ion-content>
    <!-- <h1>selected tab: {{selectedTab}} </h1>
    editSettings of {{editID}}
    <p> {{contentDetails.enName}} </p> 
    -->
    
  <ion-img class="imgCircle" [src]="contentDetails.icon || 'assets/empty.svg'"></ion-img>


  <!-- <ion-input type="text" [(ngModel)]="contentDetails.enName"></ion-input> -->
  <form [formGroup]="thisForm" (ngSubmit)="save(thisForm.value);">

      <ion-item>
        <ion-label position="floating"> English </ion-label>
        <ion-input type="text" formControlName="english" required></ion-input>
        <ion-buttons class="change" slot="end">
          <ion-button slot="end" *ngIf="englishEmpty">
            <ion-icon name="information-circle" slot="end" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item no-padding margin-start lines="none" *ngIf="englishEmpty">
        <span style="color:red; margin-bottom:16px;">
          Please enter at least english name
        </span>
      </ion-item>
    
    <!-- design for base on powerpoint's one
    <ion-list>
      <ion-item>
        <ion-label color="secondary" margin-end floating> English </ion-label>
        <ion-input type="text" formControlName="english" required>
        </ion-input>
        <ion-button clear item-end icon-only>
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list> 
    -->


    <ion-item>
      <ion-label color="secondary" position="floating"> Chinese </ion-label>
      <ion-input type="text" formControlName="chinese"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="secondary" position="floating"> Malay </ion-label>
      <ion-input type="text" formControlName="malay"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="secondary" position="floating"> Tamil </ion-label>
      <ion-input type="text" formControlName="tamil"></ion-input>
    </ion-item>
    <!-- <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!thisForm.valid">Update</ion-button> --> 
    <!-- https://stackoverflow.com/questions/49336255/how-can-i-submit-my-form-when-clicking-on-go-button-in-ionic-3-framework -->
    <ion-button expand="block" (click)="takePhoto(0)"> Take Photo </ion-button>
  </form>
</ion-content>