<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings/symptomAction" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{contentDetails.enName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save(thisForm.value)"> {{editID == 'add' ? 'Add' : 'Save'}} </ion-button>
      <!-- <ion-label padding="true" (click)="save(thisForm.value)"> {{editID == 'add' ? 'Add' : 'Save'}} </ion-label> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<style>
  .imgCircle {
    border-radius: 50%;
    height: 33%;
    margin: 0 auto;
    /* margin-top: 6%; */
  }
  ion-title.md.title-md.hydrated{
    position: initial;
  }
  .paddingInput {
    --padding-top: 20px !important;
  }
  .labelFloat {
    padding: 0 !important;
    line-height: initial;
  }
  /* #itemEnglish {
    width: 90% !important;
    margin-left: 20px;
  } */
  /* .sc-ion-input-ios-h {
    --padding-top: 13px !important;
    --padding-bottom: 0px !important;
  } */
  .notTouchedInput {
    --padding-top: 28px !important;
    /* --padding-bottom: 0px !important; */
  }
  ion-item {
    --padding-start: 0px;
  }
  .originalInput {
    --padding-top: 12px !important;
    /* --padding-bottom: 8px !important; */
  }
  .touchedColor {
    color: #3880FF !important
  }
  /* .notTouchedColor {
    color: #808080 !important;
  }
  ion-label {
    color: #808080 !important;
  } */
  .sc-ion-input-md-h, .sc-ion-input-ios-h{
    --padding-bottom: 0px;
    --padding-top: 0px;
      margin-top: 2px;
  }
  .label-floating.sc-ion-label-ios-h{
    margin-top: 20px !important;
  }
  .label-floating.sc-ion-label-md-h {
    margin-top: 8px;
  }
</style>

<ion-content padding>
    <!-- <h1>selected tab: {{selectedTab}} </h1>
    editSettings of {{editID}}
    <p> {{contentDetails.enName}} </p> 
    -->
    
  <ion-img class="imgCircle" [src]="contentDetails.icon || 'assets/empty.svg'" (click)="takePhoto(0)"></ion-img>


  <!-- <ion-input type="text" [(ngModel)]="contentDetails.enName"></ion-input> -->
  <form [formGroup]="thisForm" (ngSubmit)="save(thisForm.value);">

      <!-- <ion-item>
        <ion-label position="floating" *ngIf="thisForm.controls['english'].touched || thisForm.controls['english'].valid"
        [class.labelFocused]="editID == 'add' ? (thisForm.controls['english'].touched || thisForm.controls['english'].valid) : thisForm.controls['english'].touched"> English </ion-label>
        <ion-input type="text" formControlName="english" required placeholder="{{thisForm.controls['english'].touched ? '' : 'Enter english name'}}" 
          (ionFocus)="inputFocus('english')" (ionBlur)="defocus('english')" [ngClass]="!thisForm.controls['english'].touched && 'paddingInput'"></ion-input>
        <ion-buttons slot="end">
          <ion-button slot="end" *ngIf="editID == 'add' && englishEmpty && thisForm.controls['english'].invalid">
            <ion-icon name="information-circle" slot="end" color="danger"></ion-icon>
          </ion-button>
          <ion-button slot="end" *ngIf="editID !== 'add' && (thisForm.controls['english'].invalid && (thisForm.controls['english'].dirty || thisForm.controls['english'].touched))">
            <ion-icon name="information-circle" slot="end" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item no-padding margin-start lines="none" *ngIf="editID == 'add' && englishEmpty && thisForm.controls['english'].invalid">
        <span style="color:red; margin-bottom:16px;">
          Please enter at least english namez
        </span>
      </ion-item>

      <ion-item no-padding margin-start lines="none" *ngIf="editID !== 'add' && (thisForm.controls['english'].invalid && (thisForm.controls['english'].dirty || thisForm.controls['english'].touched))">
        <span style="color:red; margin-bottom:16px;">
          Please enter at least english name
        </span>
      </ion-item> -->
    <ion-item id="itemEnglish" no-padding>
      <!-- <ion-label color="secondary" position="floating" *ngIf="get('english').dirty || get('english').valid" [class.touchedColor]="get('english').dirty"> English </ion-label>
      <ion-input type="text" [ngClass]="get('english').dirty || get('english').valid ? 'originalInput' : 'notTouchedInput'" placeholder="Enter english name" #englishInput
        formControlName="english" required (ionFocus)="focus('english')" (ionBlur)="defocus('english')"></ion-input> -->
        <ion-label position="floating">English</ion-label>
        <ion-input type="text" formControlName="english" required #englishInput></ion-input>
    </ion-item>
    
    <p *ngIf="editID == 'add' ? englishEmpty && get('english').invalid : get('english').invalid" style="color:red; margin-top:4px; margin-bottom:0px">Please enter english name</p>
    <!-- <div *ngIf="editID == 'add' ? englishEmpty && get('english').invalid : get('english').invalid" style="color:red; margin-top:8px;">Please enter english name</div> -->
      

    <!-- design for base on powerpoint's one
    <ion-list>
      <ion-item>
        <ion-label color="secondary" margin-end floating> English </ion-label>
        <ion-input type="text" formControlName="english" required>
        </ion-input>
        <ion-button clear item-end icon-only>
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list> 
    -->

    <ion-item style="margin-top:2.5%;"> 
      <ion-label position="floating">Chinese</ion-label>
      <ion-input type="text" formControlName="chinese"></ion-input>
    </ion-item>

    <ion-item style="margin-top:2.5%;">
      <ion-label position="floating">Malay</ion-label>
      <ion-input type="text" formControlName="malay"></ion-input>
    </ion-item>

    <ion-item style="margin-top:2.5%;">
      <ion-label position="floating">Tamil</ion-label>
      <ion-input type="text" formControlName="tamil"></ion-input>
    </ion-item>
    <!-- <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!thisForm.valid">Update</ion-button> --> 
    <!-- https://stackoverflow.com/questions/49336255/how-can-i-submit-my-form-when-clicking-on-go-button-in-ionic-3-framework -->
    
  </form>
</ion-content>