<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>


    <ion-title>
      <!--创建病情那页的title名称-->{{text1}}
    </ion-title>

  </ion-toolbar>


</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of ggg" class="img" (click)="fanhui(item)">
      <label class="lab">
        <img [src]= "item.icon" width="70" height="70"> {{item.enName}} 
      </label>

    </ion-item>
  </ion-list>

</ion-content>
<ion-toolbar color="primary">
</ion-toolbar>