// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #414952;
  --ion-color-primary-rgb: 25, 29, 32;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #29323C;
  --ion-color-secondary-rgb: 16, 20, 24;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #5E628C;
  --ion-color-tertiary-rgb: 37, 38, 55;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-redCard: #ff0000; //generate the color from https://ionicframework.com/docs/theming/color-generator
  --ion-color-redCard-rgb: 255,0,0;
  --ion-color-redCard-contrast: #ffffff;
  --ion-color-redCard-contrast-rgb: 255,255,255;
  --ion-color-redCard-shade: #e00000;
  --ion-color-redCard-tint: #ff1a1a;

  --ion-color-greenCard: #1ebea5;
  --ion-color-greenCard-rgb: 30,190,165;
  --ion-color-greenCard-contrast: #000000;
  --ion-color-greenCard-contrast-rgb: 0,0,0;
  --ion-color-greenCard-shade: #1aa791;
  --ion-color-greenCard-tint: #35c5ae;

  --ion-color-originalPrimary: #3880ff;
  --ion-color-originalPrimary-rgb: 56,128,255;
  --ion-color-originalPrimary-contrast: #ffffff;
  --ion-color-originalPrimary-contrast-rgb: 255,255,255;
  --ion-color-originalPrimary-shade: #3171e0;
  --ion-color-originalPrimary-tint: #4c8dff;
}

// .ion-color-redCard {
//   --ion-color-base: var(--ion-color-redCard) !important;
//   --ion-color-base-rgb: var(--ion-color-redCard-rgb) !important;
//   --ion-color-contrast: var(--ion-color-redCard-contrast) !important;
//   --ion-color-contrast-rgb: var(--ion-color-redCard-contrast-rgb) !important;
//   --ion-color-shade: var(--ion-color-redCard-shade) !important;
//   --ion-color-tint: var(--ion-color-redCard-tint) !important;
// }

$customColors: ('redCard', 'greenCard', 'originalPrimary'); //https://medium.com/@paulstelzer/ionic-4-how-to-add-more-colors-and-use-them-as-color-in-buttons-and-more-7175ab4ae4e7
@each $color in $customColors {
  .ion-color-#{$color} {
    --ion-color-base: var(--ion-color-#{$color}) !important;
    --ion-color-base-rgb: var(--ion-color-#{$color}-rgb) !important;
    --ion-color-contrast: var(--ion-color-#{$color}-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-#{$color}-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-#{$color}-shade) !important;
    --ion-color-tint: var(--ion-color-#{$color}-tint) !important;
  }
}

@function color($color-name) {
  @return var(--ion-color-#{$color-name});
}