<ion-header *ngIf="modalPopUp">
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start"> 
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>   -->
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>
      Select one {{symptomOrAction | lowercase}}
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button routerLink="/tabs/plans/details/0/123" > Close </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<style>

</style>
<ion-content #content (ionScroll)="scroll($event)" [scrollEvents]="true">
  <ion-list id="wholeList">
    <ng-container *ngIf="!modalPopUp">
      <ion-item *ngFor="let item of menuOptions; let last=last" (tap)="close(item)" (press)="select1(item)" button [lines]="last ? 'none' : 'full'">
        <ion-label>
          {{item}}
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="modalPopUp">
      <ion-virtual-scroll [items]="menuOptions" id="virtualScroll">
        <!--跳出选择的页面-->
        <ion-item (tap)="close(item)" routerLinkActive="router-link-active"  button *virtualItem="let item" detail lines="full" class="txt"> 
          <!--显示图片-->
          <ion-avatar slot="start">
            <!-- <ion-img src="assets/empty.svg" (load)="item.loaded=true" [hidden]="!item.loaded"></ion-img> -->
            <!-- <ion-img [src]="item.icon" alt="" (load)="loaded=false"></ion-img> -->
           
            <!-- <img [src]="item.icon" height="40" width="40"/> -->
            <!-- <ion-img [src]="item.icon"></ion-img> -->
          </ion-avatar>
            <!--显示文字  text-wrap文本换行-->
          <ion-label text-wrap>
            {{returnLanguage(item)}}
          </ion-label>
        </ion-item>
      </ion-virtual-scroll>
    </ng-container>

    <ion-ripple-effect></ion-ripple-effect>

  </ion-list>

  <!-- fab placed to the bottom end -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="modalPopUp && buttonShown">
    <ion-fab-button size="small" (tap)="scrollToItem()">
      <ion-icon name="ios-arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
<style>
  .txt{

        text-align: center;
    
}
  .list-md {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .list-ios {
    margin-top: 0px; /*in ios is -1px which the last item in the list for action no lines="full" shown*/
  }
  ion-item { 
    padding-top: 0px;
    /* --min-height: 69px; */ /*1px lesser than the itemHeight to see the lines, but image might not load when ion-img*/
  } 
  /*
  ion-avatar { 
    width: 55px;
    height: 55px;
  } 
  */
</style>