<ion-header *ngIf="modalPopUp">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      Select one {{symptomOrAction | lowercase}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"> Close </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list mode="md" lines="full">
    <ng-container *ngIf="!modalPopUp">
      <ion-item *ngFor="let item of menuOptions" (click)="close(item)" button>
        <ion-label>
          {{item}}
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="modalPopUp">
      <ion-virtual-scroll [items]="menuOptions">
        <ion-item *virtualItem="let item" (click)="close(item)" button>
          <ion-thumbnail slot="start">
            <!-- <ion-img src="assets/empty.svg" (load)="loaded=true" [hidden]="!loaded"></ion-img> -->
            <!-- <ion-img [src]="item.icon" alt="" (load)="loaded=false"></ion-img> -->
            <ion-img [src]="item.icon || 'assets/loading.gif'"></ion-img>
          </ion-thumbnail>
          {{returnLanguage(item)}}
        </ion-item>
      </ion-virtual-scroll>
    </ng-container>
    
    <ion-ripple-effect></ion-ripple-effect>
  
  </ion-list>

</ion-content>
<style>
  .list-md {
    padding-top: 0px;
    padding-bottom: 0px;
  }
</style>