<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Plans
    </ion-title>
    <ion-buttons slot="start" (click)="presentActionSheetDelayed()">
      <ion-button>
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="onClick()">
      <ion-button>New</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content (ionScroll)="scroll($event)" [scrollEvents]="true">

  <!----THIS IS SEARCH BAR---->
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" animated margin-bottom (ionFocus)="ionFocus()" (ionBlur)="ionBlur()"></ion-searchbar>

  <div *ngIf="searchTerm && sortedDetails && sortedDetails.length == 0" text-center padding> No search results found. Please try again.</div>

  <div *ngIf="!searchTerm && sortedDetails && sortedDetails.length == 0" id="noPlanDiv">
      Click "New" at the right top of this screen to create a plan.
  </div>

  <ion-list lines="none" margin-bottom [style.padding-top]="'0px'" #mylist id="wholeList">

    <ion-virtual-scroll [items]="sortedDetails" id="virtualScroll" [itemHeight]="itemHeightFn">
      <!-- <div *virtualItem="let item; let index = index;"> -->
        <ion-item-sliding (ionSwipe)="swipeEvent(item.id)" *virtualItem="let item; let index = index;">
          <ion-item (click)="goEdit(item)" detail="false">
            <ion-card button>
              <ion-card-header color="tertiary">
                <ion-card-title>{{item.planName}}</ion-card-title>
              </ion-card-header>
              <ion-card-content no-padding>
                <ion-row style="border-bottom: 1px solid grey;" padding-start>
                  <ion-col>
                    <h6>{{item.name}}</h6>
                  </ion-col>
                </ion-row>
                  <ion-row padding-start>
                    <ion-col>
                      {{item.ccontact}}
                    </ion-col>
                    <ion-col text-right padding-end>
                      <!-- <h6>{{item.createdDate | date: 'MM/dd/yyyy'}}</h6> -->
                      {{item.createdDate | date: 'dd/MM/yyyy'}}
                    </ion-col>
                  </ion-row>
                <!-- </ion-row> -->
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-card>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="swipeEvent(item.id)" expandable>
              <ion-icon name="trash" slot="top" style="zoom:2.0"></ion-icon> DELETE
            </ion-item-option>
          </ion-item-options>
        
        </ion-item-sliding>
        
      <!-- </div> -->
    </ion-virtual-scroll>

  </ion-list>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="buttonShown">
    <ion-fab-button size="small" (tap)="scrollToItem()">
      <ion-icon name="ios-arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>