<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="add" style="float:left" (click)="onClick()"></ion-icon>Plans
    </ion-title>
    <ion-icon name="funnel" style="float: right" (click)="presentActionSheet()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!----THIS IS SEARCH BAR---->
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>
  <!-----------cate---------------------->
  <div class="row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Name &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;Contact&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Date
  </div>

  <!-----------LIST---------------------->
  <ion-list lines="none">
    
      <ion-card class="welcome-card" style="height: 1%">
        <ion-card-header color="tertiary">
        </ion-card-header>
        <!-- LOOP HERE -->
        <ion-card-content>
          <ion-item *ngFor="let item of details">
                 <h6>{{item.name}}</h6>
                 <h6>{{item.ccontact}}</h6>
                 
          </ion-item>

        </ion-card-content>
      </ion-card>
    
      <ion-card class="welcome-card">
        <ion-card-header color="tertiary">
        </ion-card-header>
        <ion-card-content>
          <p>Jery 2</p>
        </ion-card-content>
      </ion-card>
    
      <ion-card class="welcome-card" style="height: 1%">
        <ion-card-header color="tertiary">
        </ion-card-header>
        <ion-card-content>
          <p>Jery 3</p>
        </ion-card-content>
      </ion-card>
  
  </ion-list>

</ion-content>