<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/templates" *ngIf="!editPage"></ion-back-button>
      <ion-back-button defaultHref="/tabs/templates/new" (click)="goToViewPageFromEdit()" *ngIf="editPage"></ion-back-button>
    </ion-buttons>
    
    <ion-title class="globalTitle" text-center mode="ios"> {{templateName}} </ion-title>

    <ion-button slot="end" (click)="askForName()" *ngIf="!viewPage && !editPage">
      <ion-icon ios="ios-add-circle" md="md-add"></ion-icon>
    </ion-button>

    <ion-buttons slot="end" *ngIf="viewPage && !editPage">
      <ion-button (click)="popOverController($event, templateName)">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-button slot="end" (click)="addTemplate('Update')" *ngIf="editPage">
      Save
    </ion-button>

  </ion-toolbar>
</ion-header>

<style>
  .imgCircle {
    float: left;
    border-radius: 50%;
    width: 50%;
    height: 100%;
    padding: 4%;
    /* background-color:#000000 !important; */
    border: 1px solid black; 
  }

  .imgCircleText {
    /* height:100%; */
    /* margin:16px; */
    white-space: normal;
    text-align: left;
    margin-top: 12%;
    /*FIXME: https://ionicframework.com/docs/v3/theming/css-utilities/ */
  }

/* 
ion-content{
  --ion-background-color:grey;
} */

ion-card { 
  border-radius: 16px;
  background-color: white;
  color:black; /* text */
}

ion-grid {
  background-color: #d3d3d3;
}

.btnAdd {
  margin-top: 18px !important;
}

.blur {
    filter: blur(15px);
    -webkit-filter: blur(15px); 
    opacity: 1;
    background-color: #FFF;
    transition: -webkit-filter 200ms linear;
    height: 100%;
    width: 100%;
    position: absolute;
}
.blurTitle{

  filter: blur(15px);
  -webkit-filter: blur(15px);
  /* transition: -webkit-filter 200ms linear; */
}

</style>

<ion-content padding>

  <ion-card class="welcome-card" *ngFor="let globalItem of frontViewData">

    <ion-card-header [color]="globalItem.colorCard">
      <ion-card-title style="color: white;font-weight: bold;font-size: 1.1em;padding: 0;margin:0 16px;">
        {{globalItem.textCard}}
      </ion-card-title>

      <ion-content *ngIf="!viewPage || editPage">
        <ion-fab vertical="top" horizontal="end" edge slot="fixed">
          <!-- <ion-fab-button size="small" (click)="addNewCriticalArray('Critical')" class="btnAdd" color="redCard"> -->
          <ion-fab-button size="small" class="btnAdd" (click)="globalItem.toggle=!globalItem.toggle">
            <ion-icon name="{{!globalItem.toggle ? 'md-add' : 'md-close'}}"></ion-icon>
          </ion-fab-button>

          <!-- <ion-fab-list side="start">
            <ion-fab-button [color]="globalItem.colorBtn" (click)="globalItem.toggle=!globalItem.toggle; addNewCriticalArray(globalItem.type, globalItem.id)">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-label class="addLabel" (click)="globalItem.toggle=!globalItem.toggle"> Add symptom and action</ion-label>

            <ion-fab-button [color]="globalItem.colorBtn" (click)="globalItem.toggle=!globalItem.toggle; popUp(globalItem.id);" style="margin-top:6px" *ngIf="checkType(globalItem.id)">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-label class="addLabel" (click)="globalItem.toggle=!globalItem.toggle; popUp(globalItem.id);" *ngIf="checkType(globalItem.id) ">Add action</ion-label>  

          </ion-fab-list> -->

        </ion-fab>
        

  
      </ion-content>

    </ion-card-header>


    <ion-grid style="padding:3%" *ngIf="!viewPage || editPage"> <!--https://forum.ionicframework.com/t/fab-button-backdrop/80019-->

    
      <ion-row *ngFor="let item of getArray(globalItem.id); let i = index;" [ngClass]="{'blur': globalItem.toggle}">
          <ion-col size="6">
              <ion-card (click)="presentActionSheet('Symptom', item)">
                <img class="imgCircle" [src]="item.symptom.img" /> <!-- https://stackoverflow.com/questions/45263542/ngmodel-value-in-img-src-ionic-3 -->
                <p class="imgCircleText"> {{item.symptom.text}} </p>
              </ion-card>
              <ion-card>
                <ion-item>
                  <ion-label position="floating">Description</ion-label>
                  <ion-textarea rows="4" placeholder="fill up description here..." [(ngModel)]="item.symptom.description"></ion-textarea>
                </ion-item>
              </ion-card>
          </ion-col>
              <ng-container *ngFor="let x of item.combined; let actIndex = index;">  
                <ion-col size="6" *ngIf="actIndex != 0"></ion-col>
                <ion-col size="6">
                  <ion-card (click)="presentActionSheet('Action', x)">
                    <img class="imgCircle" [src]="x.img" /> 
                    <p class="imgCircleText"> {{x.text}}</p>
                  </ion-card>
                  <ion-card>
                    <ion-item>
                      <ion-label position="floating">Description</ion-label>
                      <ion-textarea rows="4" placeholder="fill up description here..." [(ngModel)]="item.description"></ion-textarea>
                    </ion-item>
                  </ion-card>
                </ion-col>
              </ng-container>
      </ion-row>



        <ion-row style="height:150px;" [ngClass]="{'blur': globalItem.toggle}" *ngIf="!checkType(globalItem.id)"></ion-row>

        <ion-row *ngIf="globalItem.toggle"> <!--https://stackoverflow.com/questions/28975673/how-to-blurcss-div-without-blur-child-element/29249483-->
          <ion-col size="4" (click)="globalItem.toggle=!globalItem.toggle; addNewCriticalArray(globalItem.type, globalItem.id)">
            <ion-fab-button [color]="globalItem.colorBtn" style="float:right">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-col>
          <ion-col size="8">
            <ion-label class="addLabel"> Add symptom and action</ion-label>
          </ion-col>
          <ion-col size="4" (click)="globalItem.toggle=!globalItem.toggle; popUp(globalItem.id);" *ngIf="checkType(globalItem.id)">
            <ion-fab-button [color]="globalItem.colorBtn" style="float:right">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-col>
          <ion-col size="8">
            <ion-label class="addLabel"> Add action</ion-label>
          </ion-col>
        </ion-row>

  
      
    </ion-grid>


    <!-- view page when click on one template... show icon and text only -->
    <ion-grid style="padding:3%; background-color: #FFF" *ngIf="viewPage && !editPage">
      
      <ion-row *ngFor="let item of getArray(globalItem.id)">

        <ion-col size="6">
          <img class="imgCircle" [src]="item.symptom.img" />
          <p class="imgCircleText"> {{item.symptom.description}} </p>
        </ion-col>
        
        <ng-container *ngFor="let x of item.combined; let actIndex = index;">
          <ion-col size="6" *ngIf="actIndex != 0"></ion-col>
          <ion-col size="6">
            <img class="imgCircle" [src]="x.img"/>
            <p class="imgCircleText"> {{x.description}} </p>
          </ion-col>
        </ng-container>

      </ion-row>
      
      <ion-row style="height:60px;" [ngClass]="{'blur': globalItem.toggle}" *ngIf="!checkType(globalItem.id)"></ion-row>

    </ion-grid>
  

    
  </ion-card>

</ion-content>