
// @import "src/theme/variables.scss";

// ion-grid {
//     background-color: color(redCard)
// }
.addLabel {
    font-weight: bold;
    color: red;
    text-align: center;
    margin-top: 12px;
    margin-right: 54px;
    position: absolute;
    font-size:19px;
}

ion-fab-list{
    flex-direction: column;
    margin-top:16px;
}