<ion-header>
  <ion-toolbar>
    <ion-title>newTemplates</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  .imgCircle {
    float: left;
    border-radius: 50%;
    width: 50%;
    height: 100%;
    padding: 4%;
    /* background-color:#000000 !important; */
  }

  ;

  .imgCircleText {
    /* height:100%; */
    /* margin:16px; */
    white-space: normal;
    text-align: left;
    margin-top: 12%;
    /*FIXME: https://ionicframework.com/docs/v3/theming/css-utilities/ */
  }

  .alertIcon{
    border-radius: 0 !important;
    border: none !important;
    height: 40px !important;
    width: 40px !important;
    background-size: 40px 40px !important;
    background-repeat: no-repeat;
  }
  .alert-radio-icon{
    border-radius: 0 !important;
    border: none !important;
    height: 40px !important;
    width: 40px !important;
    background-size: 40px 40px !important;
    background-repeat: no-repeat ;
}

.alert-radio-icon:nth-child((0)){
    background-image: url("assets/cough.svg") !important;
    background-color:red !important;
    color:green !important;
}
/* https://forum.ionicframework.com/t/add-icon-to-ion-option-in-ion-select/103580/5 */
 [id^="alert-input-"][id$="-1"] .alert-radio-icon{ 
    background-image: url("../../assets/cough.svg") !important;
}
.alert-radio-inner{
    background-color: transparent !important;
}

.imgZoom{
  background-image:url(http://localhost:8100/assets/icon/cough.png) !important;
}

.sc-ion-select-popover.md in-item interactive hydrated{
  background-image: url(http://localhost:8100/assets/icon/cough.png) !important;
  height:40% !important;
  width:40% !important;
}

.wholeActionSheet {
  overflow:scroll !important;
  max-height: 100px !important;
}


</style>
<ion-content padding>

  <ion-card class="welcome-card">

    <ion-card-header color="redCard">
      <ion-card-title style="color: white;font-weight: bold;font-size: 1.1em;padding: 0;margin:0 16px;">
        Get Help Now
      </ion-card-title>
      <ion-fab>
        <ion-fab-button (click)="addNewCriticalArray()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-header>

    <ion-grid style="padding:3%">

      <ion-row>

        <ion-col size="6">
          <!--https://ionicframework.com/docs/api/grid-->
          <img class="imgCircle" src="assets/cough.svg" />
          <p class="imgCircleText"> Fever </p>
        </ion-col>

        <ion-col size="6">
          <img class="imgCircle" src="assets/cough.svg" />
          <p class="imgCircleText"> Cough </p>
        </ion-col>

        <ion-col size="6">
          <img class="imgCircle" src="assets/cough.svg" />
          <p class="imgCircleText"> High blood pressure </p>
        </ion-col>

        <ion-col size="6">
          <img class="imgCircle" src="assets/temperature.svg" />
          <p class="imgCircleText"> High blood pressure </p>
        </ion-col>

        <ion-col size="6">
          <ion-list lines="full">
            <!--https://ionicframework.com/docs/api/select-->
            <!-- <ion-label> Symptom </ion-label> -->
            <ion-select cancelText="Cancel" okText="ok" [interfaceOptions]="customSelectSheetOptions" interface="popover" placeholder="Select Symptom"
              [(ngModel)]="selectedItem" (ionChange)="popUpDone()" mode="md">
              <ion-select-option *ngFor="let item of itemData;" [value]="item.name">
                <ion-icon [src]="item.icon" class="alertIcon" style="background-image:url(http://localhost:8100/assets/icon/cough.png)"></ion-icon>
                {{item.name}} 
              </ion-select-option>
            </ion-select>
          </ion-list>
        </ion-col>
        
        <ion-col size="6">
          <button no-margin no-padding style="width: 100%; background-color:white" (click)="presentActionSheet('critical')" *ngFor="let item of criticalArray; let i = index;">
            <img class="imgCircle" [src]="item.img" /> <!--https://stackoverflow.com/questions/45263542/ngmodel-value-in-img-src-ionic-3-->
            <p class="imgCircleText"> {{item.text}} on {{item.id}} </p> 
            <ion-icon ios="ios-create" md="md-create"> </ion-icon>
            <ion-button shape="round" fill="outline"> Edit </ion-button>
            
          </button>
        </ion-col>
        
      </ion-row>

    </ion-grid>
    <ion-item *ngFor="let item of itemData;">
      <ion-icon src="{{item.icon}}"> </ion-icon> hey
    </ion-item>
    
  </ion-card>

</ion-content>