// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

// .action-sheet-button-inner.sc-ion-action-sheet-md{
    // flex-flow: row-reverse !important;
    // position: absolute !important;
// }


.wholeActionSheet span:not(:last-child) {  //for android, but switch mode to ios so this css will not apply
    margin-left: 16%;
}

.action-sheet-icon.sc-ion-action-sheet-md{
    margin-right: 16px;
}

.action-sheet-group.sc-ion-action-sheet-ios{ //ios scroll css somehow overflow is hidden but not on android
    overflow: scroll;
    //max-height: 434px;
}

ion-segment-button {
    border: 0px;
    border-radius: 0px;
    font-weight: bold;
}
ion-alert .alert-radio-label{
    // white-space: normal !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

// .alert-radio-group.sc-ion-alert-md, .alert-radio-group.sc-ion-alert-ios {
//     padding-top: 12px;
//     padding-bottom: 0px !important;
// }
// .alert-radio-label.sc-ion-alert-ios {
//     padding-right: 0px; //to show full width of the symptom text for add action in checkbox
// }
// .alert-tappable.sc-ion-alert-ios {
//     height: 50px;
// }
[aria-checked=true].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios {
    color: #007aff;
}
[aria-checked=true].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios {
    border-color: #007aff;
}