<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<style>
  ion-label {
    margin-left: 6%;
    font-weight: bold;
  }
</style>
<ion-content>
  <!-- <ion-button href="/tabs/settings/symptomAction">Move to setting page</ion-button> -->
  <!-- List of Text Items -->
  <ion-list lines="full">

    <ion-item (click)="onClick()" color="black">
      <ion-icon name="md-medkit"></ion-icon>
      <ion-label>Symptom & Action</ion-label>
    </ion-item>

    <ion-item color="black">
        <ion-icon name="book"></ion-icon>
      <ion-label>Tutorial</ion-label>
    </ion-item>

    <ion-item color="black">
      <ion-icon name="ios-information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-item>

  </ion-list>

</ion-content>