<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Templates </ion-title>
    <ion-buttons slot="end" (tap)="newTemplate()">
      <ion-button>
        New
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<style>
  #noTemplateDiv {
    margin: 24px;
    padding: 12px;
    border: 1px solid green;
    font-size: 18px;
  }

  ion-card {
    border-radius: 16px;
    background-color: white;
    color: black;
  }

  .spin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* ion-content {
    --padding-top: 0px;
    --padding-start: 0px !important;
    --padding-end: 0px !important;
  } */
</style>

<ion-content padding-top padding-bottom>

  <div *ngIf="allTemplate.length == 0" id="noTemplateDiv">
    Click "New" at the right top of this screen to create a template.
  </div>

  <div *ngIf="loading && allTemplate.length != 0" class="spin">
    <ion-spinner name="dots" color="originalPrimary" style="zoom:3"></ion-spinner>
  </div>

  <ng-container *ngIf="!loading">
    <!-- <ion-virtual-scroll [items]="allTemplate" id="virtualScroll" [itemHeight]="itemHeightFn"> -->
      <!-- <div *virtualItem="let item" (click)="goToDynamicAddPage(item)"> -->
        <ion-card button (click)="goToDynamicAddPage(item)" *ngFor="let item of allTemplate">

          <ion-card-header color="tertiary">
            <ion-card-title>
              {{item.name}}
            </ion-card-title>
          </ion-card-header>

          <ion-grid style="padding:3%">

            <ion-row>

              <ion-col size="6" *ngFor="let x of item.template; let i = index;">
                <!--https://ionicframework.com/docs/api/grid-->
                <ion-row>
                  <ion-col no-padding>
                    <img class="imgCircle" style="width: 100%;" [src]="x.symptom.img || 'assets/empty.svg'" />
                  </ion-col>
                  <ion-col no-padding>
                    <p class="imgCircleText"> {{x.symptom.text}} </p>
                  </ion-col>
                </ion-row>
              </ion-col>

            </ion-row>

          </ion-grid>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      <!-- </div> -->
    <!-- </ion-virtual-scroll> -->

  </ng-container>
</ion-content>