<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="color: white;font-weight: bold;font-size: 1.2em;padding: 0;margin: 0 16px; text-align: center;">
      Templates
    </ion-title>
    <ion-button slot="end" (click)="newTemplate()">
      <ion-label> New </ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button no-margin no-padding style="width: 100%; background-color:white">

    <ion-card class="welcome-card">

      <ion-card-header color="tertiary">
        <ion-card-title style="color: white;font-weight: bold;font-size: 1.1em;padding: 0;margin:0 16px;">
          Template Title
        </ion-card-title>
      </ion-card-header>

      <ion-grid style="padding:3%">

        <ion-row>

          <ion-col size="6">
            <!--https://ionicframework.com/docs/api/grid-->
            <img class="imgCircle" src="assets/cough.svg" />
            <p class="imgCircleText"> Fever </p>
          </ion-col>

          <ion-col size="6">
            <img class="imgCircle" src="assets/cough.svg" />
            <p class="imgCircleText"> Cough </p>
          </ion-col>

          <ion-col size="6">
            <img class="imgCircle" src="assets/cough.svg" />
            <p class="imgCircleText"> High blood pressure </p>
          </ion-col>

          <ion-col size="6">
            <img class="imgCircle" src="assets/cough.svg" />
            <p class="imgCircleText"> High blood pressure </p>
          </ion-col>

        </ion-row>

      </ion-grid>

    </ion-card>

  </button>
</ion-content>