// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// .popover-content.sc-ion-popover-md { //https://forum.ionicframework.com/t/ionic-4-how-to-change-css-of-ion-select-popover/157219/2
//     top: 50% !important;
//     left: 50% !important;
//     transform: translate(-50%, -50%) !important;
//     //zoom: 105% !important; //translate will make the popup blurry text, hence use zoom negate
// }

ion-title { //https://forum.ionicframework.com/t/navbar-ion-title-align-center-for-android/52263/18
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}


.highlight{
    background-color: #a0cdfa !important; //1ebea5
    //#9de1fe --> whatsapp color?
}