<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tutorial</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<style>
  ion-slide {
    height: 73.5vh;
    /* https://angularfirebase.com/lessons/ionic4-intro-slides-tutorial-to-educate-app-users/ 
  https://etenbo.com/ionic-4-build-a-slider-with-ionic-slides/  */
    flex-direction: column;
  }

  img {
    max-width: 100vw;
    max-height: 68vh;
    overflow: hidden;
  }
  p {
    color: red;
    font-weight: bold;
  }
  ion-slides {
    --bullet-background: black;
    /* --bullet-background-active: #0F0F10; */
  }
  
  /* ion-segment-button {
    min-height: 20px;
  }
  ion-segment {
    height: 20px;
  } */
</style>

<ion-content>

  <ion-segment color="originalPrimary" value="templates" [(ngModel)]="selectedTab">
    <ion-segment-button value="templates">
      <ion-label>Templates</ion-label>
    </ion-segment-button>
    <ion-segment-button value="plans">
      <ion-label>Plans</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides pager="true" [options]="slideOpts">

    <ion-slide *ngFor="let item of selectedTab == 'templates' ? templateList : planList">
      <img [src]="item">
    </ion-slide>
    
    <ion-slide>
      <h1>You have come to the end of the tutorial for {{selectedTab}}</h1>
      <ion-button (click)="getStarted()">Get started</ion-button>
    </ion-slide>

  </ion-slides>

</ion-content>